@import "tailwindcss";

:root {
  /* Color System */
  --cream: #f8f3e2;
  --beige: #e8dfc2;
  --brown: #3c2812;
  --dark-brown: #2a2219;
  --coral: #ff6f21;
  --sage: #a3b899;
  --ivory: #f9f0dc;

  /* Neutral Tones */
  --black: #1a1a1a;
  --white: #ffffff;
  --gray-100: #f7f7f7;
  --gray-200: #e6e6e6;
  --gray-300: #d1d1d1;
  --gray-400: #b3b3b3;
  --gray-500: #808080;
  --gray-600: #595959;
  --gray-700: #404040;
  --gray-800: #262626;

  --font-size: 1.5rem;
  --font-ratio: 2;
}

@media (max-width: 768px) {
  :root {
    --font-ratio: 1.5;
    --font-size: 1rem;
  }
}

@theme inline {
  --color-cream: var(--cream);
  --color-beige: var(--beige);
  --color-brown: var(--brown);
  --color-dark-brown: var(--dark-brown);
  --color-coral: var(--coral);
  --color-sage: var(--sage);
  --color-ivory: var(--ivory);

  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);

  --font-cormorant-garamond: var(--font-cormorant-garamond);
  --font-jost: var(--font-jost);
}

* {
  box-sizing: border-box;
}

html {
  height: 100dvh;
  width: 100vw;
  overflow-x: hidden;

  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-family: var(--font-jost);

    section {
      flex-shrink: 0;
      padding: 4rem 8rem;
    }

    @media (max-width: 768px) {
      section {
        padding: 1rem 1rem;
      }
    }

    @media (width >= 64rem /* 1024px */){
      section {
        padding: 4rem 16rem;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant-garamond) !important;
}

h1 {
  font-size: calc(
    var(--font-size) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)
  );
  line-height: calc(
    var(--font-size) * var(--font-ratio) * var(--font-ratio) * (var(--font-ratio) * 0.75)
  );
  /* font-weight: 900; */
}

h2 {
  font-size: calc(var(--font-size) * var(--font-ratio) * var(--font-ratio));
  /* font-weight: 900; */
}

h3 {
  font-size: calc(var(--font-size) * var(--font-ratio));
  /* font-weight: 900; */
}

p,
li {
  font-size: calc(var(--font-size) * 1);
}

img {
  object-fit: cover;
  object-position: center;
}

.hero-bg {
  background-image: url("/backgrounds/hero_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
